/* Protest Strike */
@font-face {
  font-family: 'ProtestStrike';
  src: url('../scss/fonts/protest-strike/ProtestStrike-Regular.ttf');
}

/* Montserrat */
@font-face {
  font-family: 'Montserrat';
  src: url('../scss/fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../scss/fonts/montserrat/Montserrat-Medium.ttf');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../scss/fonts/montserrat/Montserrat-Bold.ttf');
}