
$black: #000000;
$green: #72A649;
$green-100: #EDF6E6;
$lightgray : #D0D5DD;
$red: #B5121F;
$text-primary: #101828;
$white: #FFFFFF;


:root {
  --black: #000000;
  --green: #72A649;
  --green-100: #EDF6E6;
  --lightgray: #D0D5DD;
  --red: #B5121F;
  --text-primary: #101828;
  --white: #FFFFFF;
}